<!DOCTYPE html>
<style type="text/css">
  form {
  margin: 0 auto;
  width: 1400px;
  padding-top: 20px;
  padding-bottom: 20px;
}

  fieldset {
  background-color: #F6FEE1;
    margin-bottom: 20px;
    max-height: 300px;
    overflow: auto;
    padding: 10px;
    border: 1px solid #C3CF88;
}

form div + div {
  margin-top: 1em;
}

label {
  display: inline-block;
  text-align: right;
  width: 150px;
}

input, textarea {
  vertical-align: top;
  font: 1em sans-serif;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #999;

}

input:focus, textarea:focus {
  border-color: #000;
}

textarea {
  vertical-align: top;
  height: 10em;
  width: 40em;
}

button {
  margin-left: .5em;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

</style>

<html>
<?php 
      $praetor = new Praetor();
  $sql = "SELECT * FROM algorithm WHERE Abbreviation=%s_Abbreviation";
  $data = $praetor->custosql($sql, array('Abbreviation'=>$_POST['abbr']));
  $sql2 = "SELECT * FROM dataSet WHERE algorithmID=%d_algorithmID ORDER BY no desc";
  $dataSetData = $praetor->custosql($sql2, array('algorithmID'=>$data[0]['AID']));
  $sql3 = "SELECT * FROM Paremeter WHERE algorithmID=%d_algorithmID ORDER BY no desc";
  $paremeterData = $praetor->custosql($sql3, array('algorithmID'=>$data[0]['AID']));
  $sql4 = "SELECT * FROM link WHERE algorithmID=%d_algorithmID ORDER BY no desc";
    $linkData = $praetor->custosql($sql4, array('algorithmID'=>$data[0]['AID']));
    $sql5 = "SELECT * FROM tag WHERE algorithmID=%d_algorithmID ORDER BY no desc";
    $tagData = $praetor->custosql($sql5, array('algorithmID'=>$data[0]['AID']));
    ?>

<div class="form-group">
  <form action="index.php?item=editMethod" method="post" enctype="multipart/form-data">
    <legend>程式名稱:</legend>
    <fieldset>
      
  <div>
    
                              <label for="issueinput1">簡寫:</label>
                              <input type="text" id="issueinput1" class="form-control" name="titleAbbre" placeholder="EX:Discourse" value="<?php echo $data[0]['Abbreviation'];?>">
                          </div>
                          <div>
                              <label for="issueinput5">全名:</label>
                              <input type="text" id="issueinput2" class="form-control" name="titleInfo" placeholder="EX:A Unified RvNN Framework for End-to-End Chinese Discourse Parsing" value="<?php echo $data[0]['AlgorithmTitle'];?>">
                          </div>
                          </fieldset>
                          <legend>作者/單位:</legend>
                          <fieldset>
      
  <div>
    
                              <label for="issueinput1">作者英文名:</label>
                              <input type="text" id="issueinput3" class="form-control" name="authorName" placeholder="EX:Chuan-An Lin, Hen-Hsen Huang, Zi-Yuan Chen and Hsin-Hsi Chen" value="<?php echo $data[0]['authorName'];?>">
                          </div>
                          <div>
                              <label for="issueinput5">單位:</label>
                              <input type="text" id="issueinput4" class="form-control" name="authorUnit" placeholder="EX:台灣大學資訊工程系" value="<?php echo $data[0]['authorUnit'];?>">
                          </div>
                          </fieldset>
                              <legend>程式功能:</legend>
                          <fieldset>
      
  <div>

                              <label for="issueinput1">英文:</label>
                              <input type="text" id="issueinput5" class="form-control" name="functionEnglish" placeholder="EX:Chinese discourse parser" value="<?php echo $data[0]['functionEnglish'];?>">
                          </div>
                          <div>
                              <label for="issueinput5">中文:</label>
                              <input type="text" id="issueinput6" class="form-control" name="functionChinese" placeholder="EX:中文語篇剖析器" value="<?php echo $data[0]['functionChinese'];?>">
                          </div>
                          </fieldset>
                          <legend>程式功能說明-文字描述(中英文皆可)</legend>
                          <fieldset>

  <div>
          
    <textarea id="issueinput7" class="form-control" name="functionDescription"  rows="6" cols="40" placeholder=""><?php echo $data[0]['functionDescription'];?></textarea>
                          </div>
                          <div class="linkForm">
    <legend>說明連結/Link:</legend>
    <button type="button" class="addLink" onclick="addData()">
+新增
</button>     
<div>
      <?php
      if ($linkData[0])
      {
        $n = 0;
                            while ($n <= $linkData[0]['no'])
                            {
                              if ($linkData[$linkData[0]['no'] - $n]['linkUrl'])
                              {
      ?>
                            <div class="link<?php echo $n;?>">
                            <input type="text" id="issueinput1" class="form-control" name="<?php echo 'linkUrl'.$linkData[$linkData[0]['no'] - $n]['no'];?>" placeholder="EX:WordNet" value="<?php echo $linkData[$linkData[0]['no'] - $n]['linkUrl'];?>">
<button type="button" class="deleteLink <?php echo $n;?>" value="<?php echo $n;?>">
刪除
</button>  
                          </div>
<?php
}
  $n = $n + 1;
                      }
                    }
                      ?>
                          </div>
 

                          </div>
                          </fieldset>
                          <legend>程式源碼:</legend>
                          <fieldset>
      
  <div>
    
                              <input type="text" id="issueinput8" class="form-control" name="github" placeholder="EX:https://github.com/abccaba2000/discourse-parser" value="<?php echo $data[0]['GitHub'];?>">
                          </div>
                          </fieldset>
                          <legend>程式類別/Category:</legend>
                          <fieldset>
      
  <div class="tagForm">
    
    <button type="button" class="addTag" onclick="addData()">
+新增
</button>     
<div>
      <?php
      if ($tagData[0])
      {
        $n = 0;
                            while ($n <= $tagData[0]['no'])
                            {
                              if ($tagData[$tagData[0]['no'] - $n]['tagName'])
                              {
      ?>
                            <div class="tag<?php echo $n;?>">
                            <input type="text" id="issueinput1" class="form-control" name="<?php echo 'tagName'.$tagData[$tagData[0]['no'] - $n]['no'];?>" placeholder="EX:WordNet" value="<?php echo $tagData[$tagData[0]['no'] - $n]['tagName'];?>">
<button type="button" class="deleteTag <?php echo $n;?>" value="<?php echo $n;?>">
刪除
</button>  
                          </div>
<?php
}
  $n = $n + 1;
                      }
                    }
                      ?>
                          </div>
 

                          </div>
                          
                          </fieldset>
                          <legend>執行程式所需要的資料集，語料庫等等的資源:</legend>
                          <fieldset>
      
  <div class="dataSetForm">
    
    <button type="button" class="addDataSet" onclick="addData()">
+新增
</button>     
<div>
      <?php
      if ($dataSetData[0])
      {
        $n = 0;
                            while ($n <= $dataSetData[0]['no'])
                            {
                              if ($dataSetData[$dataSetData[0]['no'] - $n]['dataSetName'] || $dataSetData[$dataSetData[0]['no'] - $n]['url'] || $dataSetData[$dataSetData[0]['no'] - $n]['fee'])
                              {
      ?>
                            <table border="1" width="500" cellspacing="0" cellpadding="5" bordercolor="#333333" class= "dataSetTable<?php echo $n;?>">
<tr>
<th bgcolor="grey" >名稱</th>
<th bgcolor="grey" >連結</th>
<th bgcolor="grey" >收費</th>
</tr>
<tr>
  <td bgcolor="#FFFFFF" align="left" nowrap><input type="text" id="issueinput1" class="form-control" name="<?php echo 'dataSetName'.$dataSetData[$dataSetData[0]['no'] - $n]['no'];?>" placeholder="EX:WordNet" value="<?php echo $dataSetData[$dataSetData[0]['no'] - $n]['dataSetName'];?>"></td>
<td bgcolor="#FFFFFF" align="left" nowrap><input type="text" id="issueinput1" class="form-control" name="<?php echo 'dataSetURL'.$dataSetData[$dataSetData[0]['no'] - $n]['no'];?>" placeholder="EX:https://wordnet.princeton.edu/" value="<?php echo $dataSetData[$dataSetData[0]['no'] - $n]['url'];?>"></td>
<td bgcolor="#FFFFFF" align="left" nowrap><input type="text" id="issueinput1" class="form-control" name="<?php echo 'dataSetFee'.$dataSetData[$dataSetData[0]['no'] - $n]['no'];?>" placeholder="EX:免費" value="<?php echo $dataSetData[$dataSetData[0]['no'] - $n]['fee'];?>"></td>
<td bgcolor="#FFFFFF" align="left" nowrap> <button type="button" class="deleteDataSet <?php echo $n;?>" value="<?php echo $n;?>">
刪除
</button>  
</td>

</tr>

</table>
<?php
}
  $n = $n + 1;
                      }
                    }
                      ?>
                          </div>
 

                          </div>
                          
                          </fieldset>
                          <legend>執行程式所需要的系統環境及套件:</legend>
                          <fieldset>
      
  <div>
    
                              <label for="issueinput10">系統環境:</label>
                              <input type="text" id="issueinput10" class="form-control" name="systemEnvironment" placeholder="EX:Windows/Linux" value="<?php echo $data[0]['systemEnvironment'];?>">
                            </div>
                            <div>
                              <label for="issueinput5">套件:</label>
                              <input type="text" id="issueinput11" class="form-control" name="package" placeholder="EX:Python, Tensorflow, Standford Chinese Parser" value="<?php echo $data[0]['package'];?>">
                          </div>
                          </fieldset>
                          <legend>程式是否可以接受輸入檔，將結果儲存至輸出檔:</legend>
                          <fieldset class="allowInput">
      
  <div>
    
                              <input type='radio' name='acceptInput' class="acceptInput" style="margin:5px; width: 10px;" value='1'>是
                              <input type='radio' name='acceptInput' class="acceptInput" style="margin:5px; width: 10px;" value='0' checked>否(結束)
                          </div>
                          </fieldset>
                          <legend class="inputAllowed">程式接受的輸入/輸出格式:</legend>
                          <fieldset class="inputAllowed">

  <div>
          
                            <label for="input">輸入格式:</label>
                <select id="inputFormat" name="inputFormat" class="format">
                  <option value="">請選擇</option>
                  <option value="Type-A: Document" <?php if ($data[0]['Input'] == 'Type-A: Document') echo 'selected';?>>Type-A: Document</option>
                  <option value="Type-B: Image" <?php if ($data[0]['Input'] == 'Type-B: Image') echo 'selected';?>>Type-B: Image</option>
                  <option value="Type-C: Speech" <?php if ($data[0]['Input'] == 'Type-C: Speech') echo 'selected';?>>Type-C: Speech</option>
                  <option value="Type-D: Html Form" <?php if ($data[0]['Input'] == 'Type-D: Html Form') echo 'selected';?>>Type-D: Html Form</option>
                </select>
                          </div>
                          <div>
                            <label for="output">輸出格式:</label>
                <select id="outputFormat" name="outputFormat" class="format">
                  <option value="">請選擇</option>
                  <option value="Type-A: Document" <?php if ($data[0]['Output'] == 'Type-A: Document') echo 'selected';?>>Type-A: Document</option>
                  <option value="Type-B: Image" <?php if ($data[0]['Output'] == 'Type-B: Image') echo 'selected';?>>Type-B: Image</option>
                  <option value="Type-C: Speech" <?php if ($data[0]['Output'] == 'Type-C: Speech') echo 'selected';?>>Type-C: Speech</option>
                  <option value="Type-D: Html Form" <?php if ($data[0]['Output'] == 'Type-D: Html Form') echo 'selected';?>>Type-D: Html Form</option>
                </select>
                          </div>
                          </fieldset>
                          <legend class="inputAllowed allowParemeter">程式在被執行時是否需要輸入參數:</legend>
                          <fieldset class="inputAllowed allowParemeter">
      
  <div>
    
                              <input type='radio' name='acceptParemeter' id="acceptParemeter" style="margin:5px; width: 10px;" value="1">要
                              <input type='radio' name='acceptParemeter' id="acceptParemeter" style="margin:5px;width: 10px;" value="0" checked>不要(結束)
                          </div>
                          </fieldset>
                          <legend class="inputAllowed paremeterAllowed">參數的功能說明以及參數是否是有範圍(Range):</legend>
                          <fieldset  class="inputAllowed paremeterAllowed">
      
  <div class="paremeterForm">
    
    <button type="button" class="addParemeter">
+新增
</button>   
<div>
                        <?php 
                        if ($paremeterData[0])
                        {
        $n = 0;
        while ($n <= $paremeterData[0]['no'])
        {
          if ($paremeterData[$paremeterData[0]['no'] - $n]['paremeter'] || $paremeterData[$paremeterData[0]['no'] - $n]['paremeterRange'] || $paremeterData[$paremeterData[0]['no'] - $n]['format'] || $paremeterData[$paremeterData[0]['no'] - $n]['function'])
          {
      ?>
                            <table border="1" width="500" cellspacing="0" cellpadding="5" bordercolor="#333333" class="paremeterTable<?php echo $n;?>">
<tr>
<th bgcolor="grey" >參數名稱</th>
<th bgcolor="grey" >範圍</th>
<th bgcolor="grey" >格式</th>
<th bgcolor="grey" >功能說明</th>
</tr>
<tr>
  <td bgcolor="#FFFFFF" align="left" nowrap><input type="text" id="issueinput1" class="form-control" name="<?php echo 'paremeterName'.$paremeterData[$paremeterData[0]['no'] - $n]['no'];?>" placeholder="EX:-r" value="<?php echo $paremeterData[$paremeterData[0]['no'] - $n]['paremeter'];?>"></td>
<td bgcolor="#FFFFFF" align="left" nowrap><input type="text" id="issueinput1" class="form-control" name="<?php echo 'paremeterRange'.$paremeterData[$paremeterData[0]['no'] - $n]['no'];?>" placeholder="EX:0~100" value="<?php echo $paremeterData[$paremeterData[0]['no'] - $n]['paremeterRange'];?>"></td>
<td bgcolor="#FFFFFF" align="left" nowrap><input type="text" id="issueinput1" class="form-control" name="<?php echo 'paremeterFormat'.$paremeterData[$paremeterData[0]['no'] - $n]['no'];?>" placeholder="EX:-r:50" value="<?php echo $paremeterData[$paremeterData[0]['no'] - $n]['format'];?>"></td>
<td bgcolor="#FFFFFF" align="left" nowrap><input type="text" id="issueinput1" class="form-control" name="<?php echo 'paremeterDescription'.$paremeterData[$paremeterData[0]['no'] - $n]['no'];?>" placeholder="EX:調整樹的深度" value="<?php echo $paremeterData[$paremeterData[0]['no'] - $n]['function'];?>"></td>
<td bgcolor="#FFFFFF" align="left" nowrap> <button type="button" class="deleteParemeter <?php echo $n;?>" value="<?php echo $n;?>">
刪除
</button>  
</td>

</tr>

</table>
<?php
}
  $n = $n + 1;
}
}
?>
                          </div>                           
                           </div>                
                          </fieldset>
                          <div>
                            <input type="hidden" class="aid" name="aid" value="<?php echo $data[0]['AID'];?>">
                            <input type="hidden" name="licenseKey" value="<?php echo $data[0]['LicenseKey'];?>">
                            <input type="hidden" class="allowFormat" value="<?php echo ($data[0]['Input'] || $data[0]['Output']) ? '1' : '0';?>">
                            <input type="hidden" class="paremeterChecked" value="<?php echo $data[0]['allowParemeter'];?>">
                          <button type="submit" class="button">
                  <i class="add button"></i> Save
              </button>
            </div>

                      </form>
</div>
<input type="hidden" class = "pid"value="<?php echo $_SESSION['user']['PID']; ?>">
</html>
<?php $a = 0; ?>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> 
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script type="text/javascript"> var jQuery_1_5_1 = $.noConflict(true); </script>
  <!--for search select-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script>
    $(document).ready(function(){
      var elements2 = document.getElementsByName( "acceptInput" );
      var elements = document.getElementsByName( "acceptParemeter" );
      if ($(".allowFormat").val() == '0')
      {
          $(".inputAllowed").hide();
          elements2[0].checked = false;
          elements2[1].checked = true;
      }
      else
      {
          elements2[0].checked = true;
          elements2[1].checked = false;
      }
      if ($(".paremeterChecked").val() == 0)
      {
          $(".paremeterAllowed").hide();
          elements[0].checked = false;
          elements[1].checked = true;
      }
      else
      {
          elements[0].checked = true;
          elements[1].checked = false;
      }

    })
      
    $(".allowInput").change(function (){
      var elements = document.getElementsByName( "acceptParemeter" );

      $(".inputAllowed").toggle();
      elements[0].checked = false;
      elements[1].checked = true;
      $(".paremeterAllowed").hide();

      var elements2 = document.getElementsByName( "acceptInput" );
      if (!elements2[0].checked)
      {
        $("#inputFormat").val('');
        $("#outputFormat").val('');
      }
      });
    $(".allowParemeter").change(function (){
      $(".paremeterAllowed").toggle();
      });
   

    $(".addLink").click(function(e){ // make sure the image is click
        $.ajax({
          type: "POST",
          url: "model/editLink.php",
          data: "AID="+$(".aid").val()+"&pid="+$(".pid").val(),
          restful:true,
          cache:false,
          success: function(data){
            $(".linkForm").append(data);
          },
          error: function (error) {
            alert('error');
          }
          
        });
    });

    $(".addTag").click(function(e){ // make sure the image is click
        $.ajax({
          type: "POST",
          url: "model/editTag.php",
          data: "AID="+$(".aid").val()+"&pid="+$(".pid").val(),
          restful:true,
          cache:false,
          success: function(data){
            $(".tagForm").append(data);
          },
          error: function (error) {
            alert('error');
          }
          
        });
    });

    $(".addDataSet").click(function(e){ // make sure the image is click
        $.ajax({
          type: "POST",
          url: "model/editDataSet.php",
          data: "AID="+$(".aid").val()+"&pid="+$(".pid").val(),
          restful:true,
          cache:false,
          success: function(data){
            $(".dataSetForm").append(data);
          },
          error: function (error) {
            alert('error');
          }
          
        });
    });

    $(".addParemeter").click(function(e){ // make sure the image is click
        $.ajax({
          type: "POST",
          url: "model/editParemeter.php",
          data: "AID="+$(".aid").val()+"&pid="+$(".pid").val(),
          restful:true,
          cache:false,
          success: function(data){
            $(".paremeterForm").append(data);
          },
          error: function (error) {
            alert('error');
          }
          
        });
    });

    $(".linkForm").click(function(e){ 
        var target = $( e.target );
        if ( target.is( "button" ) && target.attr('class') != 'addLink') {
        $.ajax({
          type: "POST",
          url: "model/deleteLink.php",
          data: "AID="+$(".aid").val()+"&numberValue="+target.attr('value')+"&pid="+$(".pid").val(),
          restful:true,
          cache:false,
          success: function(data){
            $(".link"+target.attr('value')).remove();
          },
          error: function (error) {
            alert('error');
          }
          
        });
  }
    });

    $(".tagForm").click(function(e){ 
        var target = $( e.target );
        if ( target.is( "button" ) && target.attr('class') != 'addTag') {
        $.ajax({
          type: "POST",
          url: "model/deleteTag.php",
          data: "AID="+$(".aid").val()+"&numberValue="+target.attr('value')+"&pid="+$(".pid").val(),
          restful:true,
          cache:false,
          success: function(data){
            $(".tag"+target.attr('value')).remove();
          },
          error: function (error) {
            alert('error');
          }
          
        });
  }
    });

    $(".dataSetForm").click(function(e){ 
        var target = $( e.target );
        if ( target.is( "button" ) && target.attr('class') != 'addDataSet') {
        $.ajax({
          type: "POST",
          url: "model/deleteDataSet.php",
          data: "AID="+$(".aid").val()+"&numberValue="+target.attr('value')+"&pid="+$(".pid").val(),
          restful:true,
          cache:false,
          success: function(data){
            $(".dataSetTable"+target.attr('value')).remove();
          },
          error: function (error) {
            alert('error');
          }
          
        });
  }
    });

    $(".paremeterForm").click(function(e){ 
        var target = $( e.target );
        if ( target.is( "button" ) && target.attr('class') != 'addParemeter') {
        $.ajax({
          type: "POST",
          url: "model/deleteParemeter.php",
          data: "AID="+$(".aid").val()+"&numberValue="+target.attr('value')+"&pid="+$(".pid").val(),
          restful:true,
          cache:false,
          success: function(data){
            $(".paremeterTable"+target.attr('value')).remove();
          },
          error: function (error) {
            alert('error');
          }
          
        });
  }
    });
//             var elements = document.getElementsByClassName('deleteDataSet');
//         for (var i = 0, len = elements.length; i < len; i++) {
//           $(".deleteDataSet."+elements[i].value).click(function(e){ // make sure the image is click
//             var numberValue = $(this).val();
//             $.ajax({
//           type: "POST",
//           url: "model/deleteDataSet.php",
//           data: "AID="+$(".aid").val()+"&numberValue="+numberValue,
//           restful:true,
//           cache:false,
//           success: function(data){
//             $(".dataSetTable"+numberValue).remove();
//           },
//           error: function (error) {
//             alert('error');
//           }
          
//         });
                      

//     });
// }

// var elements3 = document.getElementsByClassName('deleteParemeter');
//         for (var i = 0, len = elements3.length; i < len; i++) {
//           $(".deleteParemeter."+elements3[i].value).click(function(e){ // make sure the image is click
//             var numberValue = $(this).val();
//             $.ajax({
//           type: "POST",
//           url: "model/deleteDataSet.php",
//           data: "AID="+$(".aid").val()+"&numberValue="+numberValue,
//           restful:true,
//           cache:false,
//           success: function(data){
//             $(".paremeterTable"+numberValue).remove();
//           },
//           error: function (error) {
//             alert('error');
//           }
          
//         });
                      

//     });
// }


    
    </script>